* {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

li{
list-style: none;
}

body{
    font-family:  Georgia, serif;
    background: rgb(180, 180, 194);
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    align-items: center;
    justify-items: center;
    height: 100vh;
    color: #555353;
}

.box{
    background: #EEE;
    padding: 4rem;
    box-shadow: 2px 2px 16px rgba(0,0,0,0.16);
    border-radius: 40px;
    text-align: center;
    margin-top: 4rem;
    
}

.redes-sociais {
    display: flex ;
    justify-content: center;
}

.redes-sociais li {
    margin-right: lrem;
}

.box span{
    font-size: 24px;

}

.title{
    font-size: 36px;
    font-weight: normal;
}

.foto{
    border-radius: 60%;
    margin-bottom: 2rem;
}

img {
    margin: auto;
    display: block;
  }

  .portfolio{
      max-width: 886px;
      margin: 6rem 0;
  }

  .portfolio ul{
      margin-top: 3rem;
  }



  .portfolio li{
      display: grid;
      grid-template-columns: auto lfr;
      text-align: left;
      gap; 1rem;
        }

        h2{
            text-align: center;

        }